<h2>Log in</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "current-password" %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit "Log in" %>
  </div>
<% end %>
<script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
<script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/additional-methods.min.js"></script>
<script >
  $(document).ready(function() {
    $("#new_doctor").validate({
      onfocusout: function (element) {
           $(element).valid();
      },
      rules: {
        "doctor[email]":{
          required: true
        },
        "doctor[password]":{
          required: true,
        }
      },
      messages: {
        "doctor[email]":{
          required: "Please enter your email ",
        },
        "doctor[password]":{
          required: "Please enter password ",
        },
      },
    });
  });
</script>


<%= render "doctors/shared/links" %>
