<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "patients/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :age %><br />
    <%= f.number_field :age, autofocus: true, autocomplete: "age" %>
  </div>

  <%#= f.label :sched_date_field, "Scheduled Date" %>
  <%#= text_field :sched_date_field, :class => "datepicker" %>

  <%#= f.label :sched_time_field, "Scheduled Time" %>
  <%#= text_field :sched_time_field, :class => "timepicker" %>

  <div class="field">
    <%= f.label :patient_profile_image, "Profile Image" %>
    <%= f.file_field :patient_profile_image %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
<script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/additional-methods.min.js"></script>
<script >
  $(document).ready(function() {
    $("#new_patient").validate({
      onfocusout: function (element) {
           $(element).valid();
      },
      rules: {
        "patient[name]": {
        required: true
        },

        "patient[email]":{
        email: true,
        required: true

        },

        "patient[age]":{
        required: true
        },

        "patient[password]":{
        required: true,
        minlength: 5
        },
        "patient[password_confirmation]":{
          required: true,
          minlength: 5
        }
      },
      messages: {
        "patient[name]":{
          required: "Please enter your name",
        },
        "patient[age]":{
          required: "Please enter your age",
        },
        "patient[email]":{
          required: "Please enter your email ",
        },
        "patient[password]":{
          required: "Please enter password ",
        },
        "patient[password_confirmation]":{
          required: "Please enter password ",
        },
      },
    });
  });
</script>

<%= render "patients/shared/links" %>
