<h3>Appoinment</h3>
<%= @doctor.name %>
<%= image_tag @doctor.profile_image.url, style: 'height:10vw;width:10vw;', class: "rounded-circle "if @doctor.profile_image?%>
<%= form_for(@appoinment) do |appoinment| %>
	<%= appoinment.hidden_field :doctor_id, :value =>@doctor.id %>
	<div>
		<%= appoinment.label :appoinment_date, "Appoinment Date" %>
		<%= appoinment.date_field :appoinment_date %>
	</div> 
<% end %>

<div id ="SelectSlot">

</div>
<%#= date_field Date.today, :prefix => :date_end %>
<%#= select_tag :start_time, options_from_collection_for_select(@slot) %>
<script>
	$(document).ready(function(){
		$("#appoinment_appoinment_date").on('change', function(event){
			var select_date = $(this).val();
			var select_doctor_id = $("#appoinment_doctor_id").val();
			$.ajax({ 
				method: "GET",
				url: '/appoinments/slot_show',
				dataType: 'script',
				data: { id: select_doctor_id, select_date: select_date } 
			});
		})
	})
	
</script>
