<header>
  <%= link_to "D-patients", "#", id: "logo" %>
  <nav>
    <ul>
      <li><%= link_to "Profile", patient_path(current_patient) %></li>
      <li><%= link_to "Edit Profile", edit_patient_registration_path %></li>
      <li><%= link_to "Doctor List", doctors_path %></li>
      <li><%= link_to "My Appoinments", appoinments_patient_appoinment_path %></li>
      <li><%= link_to "Notifications", notifications_patient_notification_path(id: current_patient.id) %></li>
      <li><%= link_to "Log out", destroy_doctor_session_path, method: 'delete' %></li>
    </ul>
  </nav>
</header>