<!DOCTYPE html>
<html>
  <head>
    <title>DPatients</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% flash.each do |key, value| %>
          <%= "#{key}: #{value}." %>
    <% end %>
    
    <% if doctor_signed_in? %>
      <%= render 'layouts/doctor_header'%>
    <% end %>

    <% if patient_signed_in? %>
      <%= render 'layouts/patient_header'%>
    <% end %>
    <%= yield %>
  </body>
</html>
